{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
    <div>
        {% if movie %}
            <h3>{{ details.title }}</h3>
            <ul>
                <li>Released : {{ movie.releasedAt|date("d/m/Y") }}</li>
                <li>Country : {{ movie.country }}</li>
                <li>Genres : {{ movie.genres|join(', ') }}</li>
            </ul>
        {% else %}
            <p>Movie not found...</p>
        {% endif %}
    </div>
{% endblock %}